CZSMDP/WebContent/wsdl/LoginService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:tns1="http://model" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://model"/>
   <element name="getStations">
    <complexType/>
   </element>
   <element name="getStationsResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getStationsReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="login">
    <complexType>
     <sequence>
      <element name="user" type="xsd:string"/>
      <element name="password" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="loginResponse">
    <complexType>
     <sequence>
      <element name="loginReturn" type="tns1:User"/>
     </sequence>
    </complexType>
   </element>
   <element name="users">
    <complexType/>
   </element>
   <element name="usersResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="usersReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsersForSelectedStation">
    <complexType>
     <sequence>
      <element name="station" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getUsersForSelectedStationResponse">
    <complexType>
     <sequence>
      <element maxOccurs="unbounded" name="getUsersForSelectedStationReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
  <schema elementFormDefault="qualified" targetNamespace="http://model" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="User">
    <sequence>
     <element name="id" nillable="true" type="xsd:string"/>
     <element name="password" nillable="true" type="xsd:string"/>
     <element name="username" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="loginRequest">

      <wsdl:part element="impl:login" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="usersResponse">

      <wsdl:part element="impl:usersResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="loginResponse">

      <wsdl:part element="impl:loginResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStationsResponse">

      <wsdl:part element="impl:getStationsResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsersForSelectedStationResponse">

      <wsdl:part element="impl:getUsersForSelectedStationResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getUsersForSelectedStationRequest">

      <wsdl:part element="impl:getUsersForSelectedStation" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getStationsRequest">

      <wsdl:part element="impl:getStations" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="usersRequest">

      <wsdl:part element="impl:users" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="LoginService">

      <wsdl:operation name="getStations">

         <wsdl:input message="impl:getStationsRequest" name="getStationsRequest">

       </wsdl:input>

         <wsdl:output message="impl:getStationsResponse" name="getStationsResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdl:input message="impl:loginRequest" name="loginRequest">

       </wsdl:input>

         <wsdl:output message="impl:loginResponse" name="loginResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="users">

         <wsdl:input message="impl:usersRequest" name="usersRequest">

       </wsdl:input>

         <wsdl:output message="impl:usersResponse" name="usersResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsersForSelectedStation">

         <wsdl:input message="impl:getUsersForSelectedStationRequest" name="getUsersForSelectedStationRequest">

       </wsdl:input>

         <wsdl:output message="impl:getUsersForSelectedStationResponse" name="getUsersForSelectedStationResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="LoginServiceSoapBinding" type="impl:LoginService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getStations">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getStationsRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getStationsResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="login">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="loginRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="loginResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="users">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="usersRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="usersResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getUsersForSelectedStation">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getUsersForSelectedStationRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getUsersForSelectedStationResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="LoginServiceService">

      <wsdl:port binding="impl:LoginServiceSoapBinding" name="LoginService">

         <wsdlsoap:address location="http://localhost:8080/CZSMDP/services/LoginService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
